<div class="header">
  <h1>
    <i class="fa fa-laptop"></i>
    Let's create a new pin
  </h1>
</div>

<% unless @errors.nil? %>
  <div class="alert alert-dismissible alert-danger">
    <label> <%= pluralize(@errors.count, "error") %> prohibited this pin from being saved: </label>
      <ul>
        <% @errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>  
      </ul>
  </div>
<% end %>

<%= form_for(@pin, html: {class: "form-horizontal"}) do |f| %>
 <fieldset>
  <legend> Enter Pin's data, please  </legend>
  <div class = "form-group">
    <div class = "col-md-2"> <%= f.label(:title, "Title", html: {class: "control-label"}) %> </div>
    <%= f.text_field(:title, html: {class: "form-control col-md-7"}) %>
  </div>
  
  <div class = "form-group">  
    <div class = "col-md-2"> <label for="pin_category__id" class: "control-label">Category</label> </div>
    <%= f.collection_select(:category_id, Category.all, :id, :name, html: "form-control") %>
  </div>
  
  <div class = "form-group">    
    <div class = "col-md-2"><label for="pin_text">Description</label></div>
    <%= f.text_area(:text) %>
  </div>

  <div class = "form-group">
    <div class = "col-md-2"> <label for="pin_url">URL</label></div>
    <%= f.text_field :url %>
  </div>

  <div class = "form-group">    
    <div class = "col-md-2"><label for="pin_slug">Slug</label></div>
    <%= f.text_field :slug %>
  </div>
  
  <div class = "form-group"> 
    <a href="/" class="btn btn-default">
      <i class="fa fa-hand-o-left"></i>
      Back to Home
      </a>
    <%= f.submit("Create", class: "btn btn-danger") %>
  </div>
 </fieldset>
<% end %>
