<p id="notice"><%= notice %></p>
<div class="header">
  <h1>All Boards</h1>
  <h3>A Collection of Boards You can pin to</h3>
</div>
<hr/>

  <% @boards.each do |board| %>
    <div class="col-md-3 panel panel-default"> 
      <div class="panel-heading">
         <%= board.name %>
      </div>
      <div class="panel-body">
        <p> <span class="label label-info">user</span>  <%= board.user.full_name %></p>
        <p> <span class="label label-info">pins</span>  <%= board.pins.count %></p>
      </div>
      <div class="panel-footer">  
        <%= link_to board, html_options = {class: "btn"} do %>
          <i class="fa fa-eye"></i>

        <% end %>
        <% "  |  " %>
        <%= link_to edit_board_path(board), html_options = {class: "btn"} do %>
          <i class="fa fa-pencil-square-o"></i>

        <% end %>
        <% "  |  " %>
        <%= link_to board, html_options = {class: "btn"}, method: :delete, data: { confirm: 'Are you sure?'} do %>
          <i class="fa fa-trash-o"></i>

        <% end %>
      </div>  
    </div>
    <% end %>


<hr />

<%= link_to new_board_path, html_options = {class: "btn"} do %>
  <i class="fa fa-plus-square-o"></i>
  Add board
<% end %>
