<!DOCTYPE html>
<html>
<head>
  <title>Coder Pinterest</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<% unless session[:user_id].nil? %>
  		<div class="user pull-right">
  			<h4>
  				<% user_name = current_user.first_name + " " +  current_user.last_name %>
  				<%= "Hi, #{user_name} !" %>
          |
          <%= link_to 'Edit', edit_user_path(current_user) %> |
          |
          <%= link_to "Logout", logout_path(current_user), method: :delete %>
  			</h4>
  		</div>
  	<% end %>
    <%= yield %>
  </div>
</body>
</html>
